@import "variables";

.block_1 {
    .b1-img {
        position: relative;

        img {
            width: 100%;
            height: auto;
        }

        .light-overlay {
            opacity: 0;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba($white_color, 0.5);
            display: flex;
            justify-content: center;
            transition: $m_transition;
            align-items: center;

            .social-media {
                span {
                    background-color: $secondary_color;
                    cursor: pointer;
                    
                    &:hover {
                        background-color: $secondary_hover_color;
                    }
                }
            }
        }
    } 

    .b1-body {
        background-color: $grey_hover;
        transition: $m_transition;

        h5 {
            color: $header_bg;
            transition: $m_transition;
        }

        p {
            color: $grey_color;
            transition: $m_transition;
        }
    }

    &:hover {
        .light-overlay {
            opacity: 1;
        }

        .b1-body {
            background-color: $secondary_color;

            h5 {
               color: $white_color;     
            }

            p {
               color: $white_color; 
            }
        }
    }
}

.block_2 {
    position: relative;

    img {
        width: 100%;
        height: auto;
    }

    h5 {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        color: $white_color;
        background-color: $header_bg;
        transition: $m_transition;
        opacity: 0;
    }

    &:hover {
        h5 {
            opacity: 1;
        }
    }
}