.primary_button {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $white_color;
    background-color: $primary_color;
    transition: $s_transition;
    padding: $main_padding 2 * $main_padding;
    border-radius: $secondary_border_radius;
    text-decoration: none;
    cursor: pointer;

    &:hover {
        background-color: $primary_hover_color;
        color: $white_color;
    } 
} 

.secondary_button {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $white_color;
    background-color: $secondary_color;
    transition: $s_transition;
    padding: $main_padding 2 * $main_padding;
    border-radius: $secondary_border_radius;
    text-decoration: none;
    cursor: pointer;

    &:hover {
        background-color: $secondary_hover_color;
        color: $white_color;
    } 
} 