@font-face {
    font-family: OpenSans;
    src: url(../src/fonts/OpenSans-Light.ttf);
  }

  @font-face {
    font-family: Quattrocento;
    src: url(../src/fonts/QuattrocentoSans-Regular.otf);
  }

* {
    padding: 0; 
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: $main_font_size;
}

body {
    background-color: $body_background_color;
    overflow-x: hidden;
    position: relative;
    overflow-y: auto;
}

a {
    color: $primary_color; 
    text-decoration: underline;
    transform: $s_transition;

    &:hover {
        text-decoration: none;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Quattrocento;
    line-height: 100%;
    text-transform: uppercase;
    letter-spacing: 0;
    margin: 0 !important;
}


section,
div,
p,
span,
a {
    line-height: $main_line_height;
    font: 16px/140% OpenSans;
    letter-spacing: 1px;
    color: $text_color;
}