@import "../../styles/variables";

@media (max-width: 575px) {
    .copyright {
        text-align: center;
    }

    .custom-input {
        width: 100%;
    }

    .form {
        transform: translateY(0px);
    }
    .footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .icons {
        text-align: center;
    }

    .secondary_button {
        margin: auto;
    }
}

@media (min-width: 576px) {
    .copyright {
        text-align: center;
    }

    .custom-input {
        width: 50%; 
    }

    .form {
        transform: translateY(0px);
    }
    .footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .icons {
        text-align: center;
    }

    .secondary_button {
        margin: auto;
    }
 }

@media (min-width: 768px) { 
    .copyright {
        text-align: left;
    }

    .custom-input {
        width: 50%;
    }

    .form {
        transform: translateY(-110px);
    }

    .footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .icons {
        text-align: right;
    }

    .secondary_button {
        margin: 0;
    }
}

@media (min-width: 992px) { 
    .copyright {
        text-align: left;
    }

    .custom-input {
        width: 50%;
    }
    .form {
        transform: translateY(-110px);
    }

    .footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .icons {
        text-align: right;
    }

    .secondary_button {
        margin: 0;
    }
}

@media (min-width: 1200px) {
    .copyright {
        text-align: left;
    }

    .custom-input {
        width: 50%;
    }

    .form {
        transform: translateY(-110px);
    }

    .footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .icons {
        text-align: right;
    }

    .secondary_button {
        margin: 0;
    }
 }

.map {
    width: 100%;
    height: 400px;
    overflow: hidden;

    img {
        width: auto;
        height: 100%;
    }
} 

.custom-input {
    max-width: 100%;

    input {
        height: 40px; 
        flex: 1;
        width: 100%;
        border: 1px solid $light_grey; 
        outline: none;
        background-color: $light_grey;
        padding: 10px;
         
        &:focus,
        &:valid {
            background: $white_color; 
        }
    }

    textarea {
        display: block;
        height: 200px; 
        width: 100%;
        border: 1px solid $light_grey; 
        outline: none;
        background-color: $light_grey;
        resize: none;
        padding: 10px;
         
        &:focus,
        &:valid {
            background: $white_color; 
        }
    }
}

.form {
    background-color: $white_color;
    margin-bottom: 30px;
    z-index: 10;
    position: relative;
    padding: $main_padding;
} 


footer {
    padding: $main_padding;
    background: $secondary_color;
    flex-wrap: wrap;

    .footer {    
        align-items: center;
    }

    div, i {
        color: $white_color;
    }

    .icons {
        display: flex;
        align-items: center;
    }

    i {
        margin: 5px;
        cursor: pointer;
        transition: $s_transition;

        &:hover {
            opacity: 0.7;
        }
    }
}